@use '@assets/scss/variable';
@use '@assets/scss/mixin';
header {
  width: 100%;
  height: 7%;
  background-color: variable.$G-primary-color;
  color: variable.$G-primary-text-color;
  border-bottom: 1px solid variable.$G-secondary-color;
  // box-shadow: 0px 0px 7px 4px rgba(255, 255, 255, 0.5);

  .container {
    width: 100%;
    height: 100%;
  }
  b {
    @include mixin.desktop {
      margin-left: 4%;
    }
    @include mixin.tablet {
      margin-left: 4%;
    }
    align-self: center;
  }

  .menu-icon {
    @include mixin.desktop {
      padding: 1%;
    }
    padding: 4% 4% 4% 3%;
    margin-left: 4%;
  }
  .user-icon {
    @include mixin.desktop {
      padding: 1%;
    }
    color: variable.$G-primary-text-color;
    padding: 4% 3%;
  }
  .login-icon {
    @include mixin.desktop {
      padding: 1%;
    }
    color: variable.$G-primary-text-color;
    padding: 4% 3%;
    margin-right: 4%;
  }
}
