@use './mixin';
@use './variable';
@include mixin.mobile;
@include mixin.desktop;
p,
h1,
h2,
h3,
h4,
h5,
h6,
input {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: variable.$G-primary-text-color;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.2rem;
}

a {
  color: black;
  &:hover {
    color: black;
  }
}

.flex-center-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.mla {
  margin-left: auto;
}
.mra {
  margin-right: auto;
}
.tac {
  text-align: center;
}
