@use './variable';

@mixin mobile {
  @media (min-width: #{variable.$G-breakpoint-mobile}) and (max-width: #{variable.$G-breakpoint-tablet - 1px}) {
    html {
      font-size: variable.$G-mobile-default-font-size;
    }
    @for $i from 1 through length(variable.$G-mobile-font-sizes) {
      $size: nth(variable.$G-mobile-font-sizes, $i);
      .fs-#{$i} {
        font-size: $size;
      }
    }
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{variable.$G-breakpoint-tablet}) and (max-width: #{variable.$G-breakpoint-desktop - 1px}) {
    html {
      font-size: variable.$G-desktop-default-font-size;
    }
    @for $i from 1 through length(variable.$G-desktop-font-sizes) {
      $size: nth(variable.$G-desktop-font-sizes, $i);
      .fs-#{$i} {
        font-size: $size;
      }
    }
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{variable.$G-breakpoint-desktop}) {
    html {
      font-size: variable.$G-desktop-default-font-size;
    }
    @for $i from 1 through length(variable.$G-desktop-font-sizes) {
      $size: nth(variable.$G-desktop-font-sizes, $i);
      .fs-#{$i} {
        font-size: $size;
      }
    }
    @content;
  }
}
